doctype html
html(lang="en")
    head        
        title Jade with WeUI
        link(rel="stylesheet" type="text/css" href="stylesheets/weui.min.css")
    body
        a(class="weui_btn weui_btn_primary", href="javascript:;")按钮
        a(class="weui_btn weui_btn_disabled weui_btn_primary", href="javascript:;")按钮
        a(class="weui_btn weui_btn_warn", href="javascript:;")按钮
